div.viewConfigData{

    width: 100%

}
div.addProd{
    position: absolute;
    top: 10%;
    width: 45%;
    height: 40%;
    margin-left: 1%;

}
div.inStockTable{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    margin-left: 1%;

}

div.changeData{
    color:rgb(105, 68, 12);
    position: absolute;
    top: 45%;
    margin-left: 1%;

}

div.onClick {
    color: red;
    float: left;
    width: 100%;
    height: 10%;
    margin-left: 1%;

}

#productTable {
    text-align: center;
    font-family: arial, sans-serif;
}

#productTable {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

#productTable td, #productTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#productTable tr:nth-child(even){background-color: #f2f2f2;}

#productTable tr:hover {background-color: rgb(202, 142, 52);}

#productTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}